[Unit]
Description=Cloudflare Tunnel for Yumurta Sayıcı
After=network-online.target runpy.service
Wants=network-online.target runpy.service

[Service]
Type=simple
User=azmarge
ExecStart=/usr/bin/cloudflared tunnel --url http://localhost:8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target