[Unit]
Description=Timer for Stopping Yumurta Sayıcı at 18:00
Requires=egg-counter-stop.service

[Timer]
OnCalendar=*-*-* 18:00:00
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target