[Unit]
Description=Health Check Timer (Every 5 minutes)
Requires=health-check.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target